.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.login-btn{
    float: left;
    width: 150px;
    height: 42px;
    border: 1px solid #F26B68;
    margin: 3 70 3px 0;
    background-color: #F26B68;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.login-btn:hover{
    background-color: #ec5e5b;
    cursor: pointer;
}
.title{
    margin-top: 100px;
    font-size: 46px;
    font-weight: 800;
    color: #F26B68;
}
.img-fluid {
    margin-top:100px
}
.error {
    color: red;
  }
  
  .custom-link {
    color: #ec5e5b;
  }