<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th rowspan="2" class="indicator-header">Naslov</th>
        <th rowspan="2" class="period-column">Period</th>
        <th colspan="7" class="colspan-header">Kategorija vozila</th>
        <th rowspan="2" class="date-column">Datum ažuriranja</th>
      </tr>
      <tr>
        <th>A</th>
        <th>B</th>
        <th>B1</th>
        <th>A1</th>
        <th>C</th>
        <th>AM</th>
        <th>A2</th>
      </tr>
    </thead>
    <tbody>
      <tr class="data-row">
        <td class="row-header">
          Broj registrovanih drumskih motornih i priključnih vozila.
        </td>
        <td class="period-column">2024</td>
        <td>24897</td>
        <td>1476642</td>
        <td>14574</td>
        <td>8887</td>
        <td>129877</td>
        <td>25802</td>
        <td>1582</td>
        <td class="date-column">02/02/2024</td>
      </tr>
      <tr class="data-row">
        <td class="row-header">
          Broj registrovanih drumskih motornih i priključnih vozila.
        </td>
        <td class="period-column">2023</td>
        <td>31803</td>
        <td>1486608</td>
        <td>13574</td>
        <td>8557</td>
        <td>139331</td>
        <td>24169</td>
        <td>1590</td>
        <td class="date-column">02/02/2024</td>
      </tr>
      <tr class="data-row">
        <td class="row-header">
          Broj registrovanih drumskih motornih i priključnih vozila.
        </td>
        <td class="period-column">2022</td>
        <td>34500</td>
        <td>1637002</td>
        <td>13475</td>
        <td>8853</td>
        <td>148255</td>
        <td>23552</td>
        <td>1434</td>
        <td class="date-column">02/02/2024</td>
      </tr>
    </tbody>
  </table>
</div>

<body>
	<div class="main-container">
		<div class="year-stats">
			<div class="month-group">
				<div class="bar h-100"></div>
				<p class="month">2019</p>
			</div>
			<div class="month-group">
				<div class="bar h-50"></div>
				<p class="month">2020</p>
			</div>
			<div class="month-group">
				<div class="bar h-75"></div>
				<p class="month">2021</p>
			</div>
			<div class="month-group">
				<div class="bar h-25"></div>
				<p class="month">2022</p>
			</div>
			<div class="month-group selected">
				<div class="bar h-100"></div>
				<p class="month">2023</p>
			</div>
			<div class="month-group">
				<div class="bar h-50"></div>
				<p class="month">2024</p>
			</div>
		</div>

		<div class="stats-info">
			<div class="graph-container">
				<div class="percent">
					<svg viewBox="0 0 36 36" class="circular-chart">
						<path class="circle" stroke-dasharray="100, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
						<path class="circle" stroke-dasharray="85, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
						<path class="circle" stroke-dasharray="60, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
						<path class="circle" stroke-dasharray="30, 100" d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" />
					</svg>
				</div>
				<p>Total: 2075</p>
			</div>

			<div class="info">
				<p>Most expensive category <br /><span>A</span></p>
				<p>Updated categories <span>2</span></p>
				<p>Bonus payments <span>$92</span></p>
			</div>
		</div>
	</div>
</body>