  <div class="title">
    <h1>Izveštaj o broju registrovanih vozila</h1>
  </div>

<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th class="indicator-header">Naslov</th>
        <th class="period-column">Period</th>
        <th colspan="7" class="colspan-header">Kategorija vozila</th>
        <th class="date-column">Datum ažuriranja</th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th>A</th>
        <th>B</th>
        <th>B1</th>
        <th>A1</th>
        <th>C</th>
        <th>AM</th>
        <th>A2</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of reportData" class="data-row">
        <tr>
          <td class="row-header">{{ item.title }}</td>
          <td class="period-column">{{ item.year }}</td>
          <td>{{ getTotalNumberByCategory(item, "A") }}</td>
          <td>{{ getTotalNumberByCategory(item, "B") }}</td>
          <td>{{ getTotalNumberByCategory(item, "B1") }}</td>
          <td>{{ getTotalNumberByCategory(item, "A1") }}</td>
          <td>{{ getTotalNumberByCategory(item, "C") }}</td>
          <td>{{ getTotalNumberByCategory(item, "AM") }}</td>
          <td>{{ getTotalNumberByCategory(item, "A2") }}</td>
          <td class="date-column">{{ item.date | date }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<body>
  <div class="container">
    <div class="main-container">
      <div class="year-stats">
        <ng-container *ngFor="let item of reportData" class="data-row">
          <div class="month-group">
            <div class="bar" [ngStyle]="{'height': getBarHeightForYear(item) + '%'}"></div>
            <p class="month">{{ item.year }}</p>
          </div>
        </ng-container>
      </div>

      <div class="stats-info">
        <div class="graph-container">
          <div class="percent">
            <svg viewBox="0 0 36 36" class="circular-chart">
              <path
                class="circle"
                stroke-dasharray="100, 100"
                d="M18 2.0845
                    a 15.9155 15.9155 0 0 1 0 31.831
                    a 15.9155 15.9155 0 0 1 0 -31.831"
              />
            </svg>
          </div>
          <p>Ukupno registrovanih: {{ getTotalRegisteredVehicles() }}</p>
        </div>

        <div class="info">
          <p>
            Godina sa najvise registrovanih vozila:
            <span> {{ getYearWithMostRegisteredVehicles() }}</span>
          </p>
        </div>
      </div>
    </div>

    <div class="main-container">
      <div class="year-stats">
        <div *ngFor="let category of categories" class="month-group">
          <div class="bar" [ngStyle]="{'height': getBarHeight(category) + '%'}"></div>
          <p class="month">{{ category.name }}</p>
        </div>
      </div>

      <div class="stats-info">
        <div class="info">
          <p>
            Kategorija sa najvise registrovanih vozila:<span>
              {{ getCategoryWithMostRegisteredVehicles() }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

<app-create-report-registered-vehicles *ngIf="getRole() === 'Employee'"></app-create-report-registered-vehicles>
