<div class="background">
    <div class="container">
      <div class="screen">
        <div class="screen-header">
          <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
          </div>
          <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
          </div>
        </div>
        <div class="screen-body">
          <div class="screen-body-item left">
            <div class="app-title">
              <span>PITAJTE</span>
              <span>NAS</span>
              </div>
            <div class="app-body">
                <span>Ukoliko niste uspeli da pronađete potrebne podatke i informacije na našem sajtu, možete nam uputiti zahtev popunjavanjem jednog od ponuđenih formulara. Na vaš zahtev biće odgovoreno što je pre moguće i u skladu sa zakonskim rokovima.</span>
              </div>
          </div>
          <div class="screen-body-item">
            <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
            <div class="app-form">
              <div class="app-form-group">
                <input class="app-form-control" placeholder="IME" formControlName="name" required>
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="PREZIME" formControlName="lastname" required>
              </div>
              <div class="app-form-group">
                <input class="app-form-control" placeholder="EMAIL" formControlName="email" required>
              </div>
              <div class="app-form-group">
                <input type="number" class="app-form-control" placeholder="BROJ TELEFONA" formControlName="phone_number" required>
              </div>
              <div class="app-form-group">
                <select class="app-form-control"
                formControlName="category" required
                id="categoryPerson"
                name="categoryPerson"
                [(ngModel)]="selectedCategoryPerson"
                required
                class="form-select"
              >
                <option value="" disabled  [selected]="selectedCategoryPerson === ''">KATEGORIJA</option>
                <option *ngFor="let categoryPerson of categoriesPerson" [value]="categoryPerson">
                  {{ categoryPerson }}
                </option>
              </select>
              </div>
              <div class="app-form-group message">
                <input class="app-form-control" placeholder="PITANJE"  formControlName="question"  required>
              </div>
              <div class="app-form-group buttons">
                <button  type="button" class="app-form-button" (click)="onCancel()">ODUSTANI</button>
                <button  type="submit" class="app-form-button" [disabled]="requestForm.invalid">POŠALJI</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  