<div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-md-5 col-lg-2 col-xl-6">
      <img src="assets/images/government.jpg" class="img-fluid" />
    </div>
    <div class="col-md-8 col-lg-6 col-xl-5 offset-xl-1">
      <form
        #registerForm="ngForm"
        (ngSubmit)="onSubmit()"
        *ngIf="!submitted"
        [formGroup]="personalInfoForm"
      >
        <div
          class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
        >
          <p class="title">Register</p>
        </div>
        <!-- Username input -->
        <div class="form-outline mb-0">
          <p
            *ngIf="personalInfoForm.controls['username'].errors?.['minlength']"
            class="text-danger"
          >
            Username is required.
          </p>
          <input
            formControlName="username"
            type="text"
            id="username"
            class="form-control form-control-lg"
            placeholder="Enter username"
            required
          />
          <label class="form-label" for="username">Username</label>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-0">
          <p
            *ngIf="
              personalInfoForm.controls['password'].errors?.['pattern'] &&
              (personalInfoForm.controls['password'].dirty || personalInfoForm.controls['password'].touched)
            "
            class="text-danger"
          >
            Password must have at least 8 characters, one lowercase letter, one uppercase letter, one number, and one special character.
          </p>
          <input
            formControlName="password"
            type="password"
            id="password"
            class="form-control form-control-lg"
            placeholder="Enter password"
            required
            name="password"
            autocomplete="password"
          />
          <label class="form-label" for="password">Password</label>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-0">
          <p
            *ngIf="personalInfoForm.controls['email'].errors?.['email']"
            class="text-danger"
          >
            Email must have valid format.
          </p>
          <input
            formControlName="email"
            type="email"
            id="email"
            class="form-control form-control-lg"
            placeholder="Enter a valid email address"
            required
          />
          <label class="form-label" for="email">Email address</label>
        </div>
        <!-- Name input -->
        <div class="form-outline mb-0">
          <div class="row">
            <div class="col">
              <p
                *ngIf="personalInfoForm.controls['name'].errors?.['minlength']"
                class="text-danger"
              >
                Name is required.
              </p>
              <input
                formControlName="name"
                type="text"
                id="namee"
                class="form-control form-control-lg"
                placeholder="Enter name"
                required
              />
              <label class="form-label" for="name">Name</label>
            </div>
            <!-- Lastname input -->
            <div class="col">
              <p
                *ngIf="
                  personalInfoForm.controls['lastname'].errors?.['minlength']
                "
                class="text-danger"
              >
                Lastname is required.
              </p>
              <input
                formControlName="lastname"
                type="text"
                id="lastname"
                class="form-control form-control-lg"
                placeholder="Enter lastname"
                required
              />
              <label class="form-label" for="lastname">Lastname</label>
            </div>
          </div>
        </div>
        <p class="notif" *ngIf="notification" [class]="notification.msgType">
          {{ notification.msgBody }}
        </p>
        <div class="text-center text-lg-start mt-4 pt-1">
          <button class="register-btn" type="submit"  [disabled]="!personalInfoForm.valid">Register</button>
          <p class="small fw-bold mt-2 pt-1 mb-0">
            Already have an account?
            <a routerLink="/login" class="custom-link">Login</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
