  <app-police-header></app-police-header>

  <div class="content">
    <div *ngIf="getRole() === 'TrafficPoliceman'" class="role-buttons">
      <button (click)="navigateToAllDelicts()" class="traffic-button">Prikazi sve prekrsaje</button>
      <button (click)="navigateToAllCarAccidents()" class="traffic-button">Prikazi sve saobracajne nesrece</button>
      <button (click)="navigateToCreateDelict()" class="traffic-button">Kreiraj prekrsaj</button>
      <button (click)="navigateToCreateCarAccident()" class="traffic-button">Kreiraj saobracajnu nesrecu</button>
    </div>
    <div *ngIf="getRole() === 'Citizen'" class="role-buttons">
      <button (click)="navigateToAllDelicts()" class="citizen-button">Prikazi sve prekrsaje</button>
      <button (click)="navigateToAllCarAccidents()" class="citizen-button">Prikazi sve saobracajne nesrece</button>
    </div>
  </div>