<app-police-header></app-police-header>
<div class="create-delict">
    <h2>Create Delict</h2>
    <form (ngSubmit)="createDelict()">
    
      <label for="driver_identification_number">Driver ID:</label>
      <input id="driver_identification_number" [(ngModel)]="delict.driver_identification_number" name="driver_identification_number" required>
  
      <label for="vehicle_licence_number">Vehicle Licence Number:</label>
      <input id="vehicle_licence_number" [(ngModel)]="delict.vehicle_licence_number" name="vehicle_licence_number" required>
  
      <label for="driver_email">Driver Email:</label>
      <input id="driver_email" [(ngModel)]="delict.driver_email" name="driver_email" type="email" required>
  
      <label for="driver_jmbg">Driver JMBG:</label>
      <input id="driver_jmbg" [(ngModel)]="delict.driver_jmbg" name="driver_jmbg" required>

  
      <label for="location">Location:</label>
      <input id="location" [(ngModel)]="delict.location" name="location" required>
  
      <label for="description">Description:</label>
      <textarea id="description" [(ngModel)]="delict.description" name="description" required></textarea>
  
      <label for="delict_type">Delict Type:</label>
      <select id="delict_type" [(ngModel)]="delict.delict_type" name="delict_type" required>
        <option [ngValue]="null" disabled>Select Delict Type</option>
        <option *ngFor="let type of delictTypes" [ngValue]="type">{{ type }}</option>
      </select>
  
      <label for="delict_status">Delict Status:</label>
      <select id="delict_status" [(ngModel)]="delict.delict_status" name="delict_status" required>
        <option [ngValue]="null" disabled>Select Delict Status</option>
        <option *ngFor="let status of delictStatuses" [ngValue]="status">{{ status }}</option>
      </select>
  
      <label for="price_of_fine">Price of Fine:</label>
      <input id="price_of_fine" [(ngModel)]="delict.price_of_fine" name="price_of_fine" type="number" required>
  
      <label for="number_of_penalty_points">Number of Penalty Points:</label>
      <input id="number_of_penalty_points" [(ngModel)]="delict.number_of_penalty_points" name="number_of_penalty_points" type="number" required>
  
      <label class="formbold-form-label formbold-form-label-2" style="margin-bottom: 25px;">
        Upload image
      </label>
      <input type="file" (change)="onFileChange($event)" multiple accept="image/jpeg, image/jpg, image/png"/>
      <p style="margin-top: 20px;">Images:</p>
      <div *ngFor="let file of imageFiles">
        {{ file.name }}
      </div>


      <button type="submit">Create Delict</button>
    </form>
  </div>
  