<header>
      <button
        class="dropbtn rounded-circle"
        style="width: 90px; height: 60px"
        routerLink="/pocetna"
      >
        <img
          src="assets/images/logo.jpg"
          class="rounded-circle"
          style="width: 80px; height: 55px"
          loading="lazy"
        />
      </button>
  <ul class="main-nav">
    <li *ngIf="!hasSignedIn()" routerLink="/registracija">Registrujte se</li>
    <li *ngIf="!hasSignedIn()" routerLink="/prijava">Prijavite se</li>
    <li *ngIf="hasSignedIn() && getRole() === 'Employee'" routerLink="/zahtevi">Zahtevi</li>
    <li>
      <div class="dropdown" *ngIf="hasSignedIn()">
        <button
          class="dropbtn rounded-circle"
          style="width: 45px; height: 45px"
        >
          <img
            src="assets/images/avatar.png"
            class="rounded-circle"
            style="width: 35px; height: 35px"
            loading="lazy"
          />
        </button>

        <div class="dropdown-content">
          <a (click)="logout()">Odjava</a>
        </div>
      </div>
    </li>

    <li *ngIf="hasSignedIn()">{{ getUsername() }}</li>
  </ul>
</header>
