.table-container {
	margin-bottom: 40px;
}

.styled-table {
    width: 80%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin: 0 auto; 
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table thead tr {
    background-color: #6EB4D4;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}

.styled-table thead tr .colspan-header {
    background-color: #C0DFE9;
    color: #444D63;
}

.styled-table th,
.styled-table td {
    border: 1px solid #c9c9c9;
	
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #6EB4D4;
}


.indicator-header {
    background-color: #C0DFE9;
    font-weight: bold;
    color: #444D63;
}

.row-header {
    background-color: #6EB4D4;
    color: #444D63;
}

.period-column {
    background-color: #C0DFE9;
    color: #444D63;
}

.date-column {
    background-color: #C0DFE9;
    color: #444D63;
}

.data-row {
    background-color: #43D2D7;
    color: #444D63;
}

body {
	font-family: "Roboto", sans-serif;
	height: 55%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-container {
	background: #F26B68;
	color: white;
	border-radius: 5px;
	padding: 20px;
	width: auto;
	height: auto;
	align-items: center; 
    justify-content: center;
	margin-top: 10%;
    margin-bottom: 80px;
	
}

.year-stats {
	display: block;
	align-items: flex-end;
	white-space: nowrap;
}

.year-stats:hover {
	overflow-x: auto;
}

::-webkit-scrollbar {
	height: 5px;
	width: 100%;
}

::-webkit-scrollbar-track {
	background: #43D2D7;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: #C0DFE9;
}

.month-group {
	cursor: pointer;
	max-width: 120px;
	height: 70px;
	margin: 10px;
	display: inline-block;
    white-space: normal;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
	text-align: center;
    gap: 40px; 
}

.bar {
	background-color: white;
	width: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
	height: auto;
}

.bar2 {
	background-color: white;
	width: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
    margin-left: 30px;
	height: auto;
}

.month-group:hover .bar,
.selected .bar {
	background: #c3ced8;
}

.month-group:hover p,
.selected p {
	color: #fff;
}

.stats-info {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
}

.graph-container {
	position: relative;
}

.percent {
	display: block;
	width: 120px;
	height: 120px;
}

.circle {
	stroke: white;
	fill: none;
	stroke-width: 3;
}


.graph-container p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12px;
	color: #fff;
	text-align: center;
}

.info p {
	margin-bottom: 10px;
	margin-left: 10px;
}

.info span {
	color: #fff;
}

@media (max-width: 768px) {
    .styled-table {
        width: 100%;
    }

    .main-container {
        width: 100%;
        height: auto;
    }

    .stats-info{
        flex-direction: column;
        align-items: flex-start;
    }

    .year-stats{
        white-space: normal;
    }
}