<div class="content">
    <section class="articles">
        <article>
          <div class="article-wrapper">
            <figure>
              <img src="assets/images/vehicles.png" routerLink="/mupVozila" />
            </figure>
            <div class="article-body">
              <h2 routerLink="/mupVozila">MUP - vozila</h2>
            </div>
          </div>
        </article>
        <article>
      
          <div class="article-wrapper">
            <figure>
              <img src="assets/images/police.jpg" routerLink="/saobracajnaPolicija" />
            </figure>
            <div class="article-body">
              <h2 routerLink="/saobracajnaPolicija">Saobraćajna policija</h2>
            </div>
          </div>
        </article>
        <article>
      
          <div class="article-wrapper">
            <figure>
              <img src="assets/images/court.png" routerLink="/prekrsajniSud" />
            </figure>
            <div class="article-body">
              <h2 routerLink="/prekrsajniSud">Prekršajni sud</h2>
            </div>
          </div>
        </article>
        <article>
      
            <div class="article-wrapper">
              <figure>
                <img src="assets/images/statistics.jpg" routerLink="/zavodZaStatistiku" />
              </figure>
              <div class="article-body">
                <h2 routerLink="/zavodZaStatistiku">Zavod za statistiku</h2>
              </div>
            </div>
          </article>
      </section>
</div>
